.contact-info {
    background-color: #D3BCCC; /* Soft Green */
    color: #957DAD; /* Lavender */
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    bottom: 0;
    border-bottom: 0.5px solid #957DAD; 
    width: 100%;
  }

  .contact-info p{
    font-size: 1.2rem;
  }
  
  .social-link {
    margin: 0 10px;
    color: #957DAD; /* Lavender */
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social-link:hover {
    color: #FFF8E7; /* Cream */
  }
  
  /**/

  .contact-info .social-link {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    color: #957DAD; /* Or any color that fits your design */
  }
  
  .contact-info .social-link img {
    width: 24px; /* Adjust based on your icon size */
    height: auto;
    margin-right: 5px;
  }

  .social-link {
    display: inline-flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin: 0 20px; /* Increase spacing between links */
    text-decoration: none; /* Remove underline from links */
    color: #957DAD; /* Adjust the color as needed */
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  .social-link img {
    width: 24px; /* Adjust based on your icon size */
    height: 24px; /* Ensure icons are square */
    margin-right: 8px; /* Space between icon and text */
  }