  .home-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Full height of the viewport */
    background-size: cover; /* Ensure the background covers the full section  */
    background-position: center; /* Center the background image */
    color: #FFF8E7; /* White text color for contrast */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
    position: relative; /* For layering and positioning */
    padding-right: 40%;
  }
  
  .home-banner h1 {
    font-size: 2.5rem; /* Large font size for the main greeting */
    margin: 0; /* Remove default margin */
    /* padding: 20px; Padding for some spacing */
    /*background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the text */
    border-radius: 10px; /* Rounded corners for the text background */
  }
  
  .typed-text {
    font-size: 2.6rem;
    font-weight: bold;
    color: #D8E2DC; /* Adjust if you have a specific color in mind */
  }
  
  /* Cursor animation */
  @keyframes blink {
    50% { opacity: 0; }
  }
  
  .typed-text::after {
    content: '|';
    animation: blink 1s step-start infinite;
    opacity: 1;
  }
  
  .home-banner h2 {
    /* Example styling */
    font-size: 2rem; /* Adjust size as needed */
    margin: 0;
    padding: 0.5rem 0; /* Adjust padding as needed */
  }